.banner {

background-image: url("../../images/background.png");
background-size: cover;
background-position: center;
padding: 200px 0;
color: white;
}

.container {
    width: 900px;
    margin: auto;
}


.banner p {

font-size: 1.5em;
opacity: 0.6;
}


.banner h1 {
color:white;
font-size: 35px;
}
